.wrapper {
  background-image: url(../../../assets/Image/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    .loginImg {
      width: 550px;
      height: 450px;
      img {
        width: 550px;
        height: 450px;
        border-radius: 3px;
        object-fit: fill;
      }
    }
    .loginForm {
      width: 400px;
      height: auto;
      margin: 5px 10px;
      .loginTitle {
        color: black;
        text-transform: uppercase;
        margin: 0;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .username {
        label {
          display: block;
          font-size: 14px;
          margin: 10px 0;
        }
        input {
          padding: 5px;
          outline: none;
          border: 1px solid #ccc;
          border-radius: 5px;
          width: 90%;
        }
      }
      .password {
        label {
          display: block;
          font-size: 14px;
          margin: 10px 0;
        }
        input {
          padding: 5px;
          outline: none;
          border: 1px solid #ccc;
          border-radius: 5px;
          width: 90%;
        }
      }
      .btnLogin {
        width: 100%;
        height: auto;
        margin-top: 10px;
        button {
          width: 93%;
          height: 35px;
          cursor: pointer;
          background-color: #54c6ed;
          border: none;
          color: white;
          border-radius: 5px;
        }
      }
      .register {
        margin-top: 10px;
        font-size: 14px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
          color: black;
          &:hover {
            color: red;
            transition: all 0.2s linear;
          }
          p {
            font-size: 14px;
          }
        }
      }
      .another {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
