.main {
  width: 100%;
  height: 60px;
  background-color: #51e792;
  .content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    .logo img {
      width: 200px;
      height: 50px;
    }
    .button-logout {
      width: 300px;
      height: 60px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      button {
        width: 100px;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: #f54242;
        color: white;
        &:hover {
          cursor: pointer;
          background-color: #c1002a;
          transition: all 0.2s linear;
        }
      }
    }
  }
}
