.main {
    width: 100%;
    height: auto;
    padding: 20px;
    .content {
      .title {
        text-align: center;
      }
      .add-btn {
        margin: 20px;
        float: right;
      }
      .style-col {
        font-weight: 600;
      }
      .style-display {
        max-height: 42px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        vertical-align: middle;
      }
    }
  }