.main {
  width: 100%;
  height: auto;
  padding: 20px;
  .content {
    .title {
      text-align: center;
    }
    .add-btn {
      margin: 20px;
      float: right;
    }
    .style-col {
      font-weight: 600;
    }
    .style-display {
      white-space: pre-line;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
