.upload {
  display: block;
  width: 700px;
  height: auto;
  margin: 0 auto;
  padding: 70px 0;
  .form-upload {
    width: 100%;
    height: auto;
    background-color: #eeecec;
    // margin: 70px 0;
    border-radius: 30px;
    h1 {
      text-align: center;
      padding: 30px 0;
      font-weight: 600;
    }
    .form-info {
      width: 100%;
      height: auto;
      text-align: center;
      div {
        width: 100%;
        height: 80px;
        padding: 0 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        label {
          font-size: 17px;
          display: block;
          width: 200px;
        }
        input {
          width: 300px;
          height: 40px;
          border-radius: 20px;
          outline: none;
          border: none;
          padding: 0 30px;
        }
      }
      button {
        width: 80%;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 20px;
        background-color: #5599de;
        font-size: 18px;
        color: white;
        margin: 10px 0 20px 0;
      }
    }
  }
}
