.main {
    width: 100%;
    height: auto;
    padding: 20px;
    .content {
      .title {
        text-align: center;
      }
      .action-button-filter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .style-col {
        font-weight: 600;
      }
      .style-display {
        display: table-cell;
        width: 50px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        line-height: 1.43;
      }
    }
  }