// .wrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
.container {
  width: 1150px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  height: 1000px;
}
.content {
  width: 100%;
}
